# API Server configuration
API_PORT=3000

# MongoDB configuration
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=fee-collection-reporting
MONGODB_USERNAME=
MONGODB_PASSWORD=

# Onchain Events Scraper configuration
CHAIN_SCAN_BLOCKS_BATCH_SIZE=10000
CHAIN_LATEST_BLOCK_TAG=finalized
CHAIN_QUERY_FAIL_RETRY_NB=2

CHAIN_POLYGON_RPC_URL=https://polygon-rpc.com
CHAIN_POLYGON_FEE_COLLECTOR_CONTRACT=0xbD6C7B0d2f68c2b7805d88388319cfB6EcB50eA9
CHAIN_POLYGON_FEE_COLLECTOR_BLOCK_START=70000000

# Execution environment configuration
NODE_ENV=dev
LOG_LEVEL=info

